<h1>Dog Logger</h1>
<h2>Home</h2>
<section>
    <h3>Owner List</h3>
    <ul>
        {% for owner in owners %}
            <li><a href="{% url 'owner' owner.id %}">{{ owner.name_with_suffix }}</a></li>
        {% endfor %}
    </ul>
</section>
<section>
    <h3>Dog List</h3>
    <ul>
        <li>TODO: create Dog page.</li>
        {% for dog in dogs %}
            <li>{{ dog.name }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h3>ActionType List</h3>
    <ul>
        <li>TODO: create ActionType page.</li>
        {% for type in action_types %}
            <li>{{ type.name }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h3>ActionHistory List</h3>
    <ul>
        <li>TODO: create ActionHistory page.</li>
        {% for history in action_histories %}
        <li>{{ history.action_date }} {{ history.dog.name }}/{{ history.owner.name }}/{{ history.action_type.name }}</li>
        {% endfor %}
    </ul>
</section>
